@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')
</style>

body {
    font-family: "Poppins", sans-serif;
}


/*navbar styles*/

.nav-container { 
    min-height: 20px;
    display: flex;
    font-size: large;
    align-items: center;
    width: 50%;
    
}

.nav-container img {
    object-fit: cover;
}
.trails-color {
    color: orangered;
    
}

.home-color {
    color: solid orangered;
}
.nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.items-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-container a {
     text-decoration: none;
     font-size: 20px;
}